<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 데이터베이스로부터의 응답을 얼마나 오래 기다리게 할 지를 판단하는 타임아웃 설정(밀리초) -->
		<setting name="defaultStatementTimeout" value="3000"/>
		<!-- 언더스코어 표기법을 카멜 케이스로 자동 변환하는 설정을 true로 지정 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		
	</settings>
	
	<typeAliases>
		<typeAlias type="com.music.mrs.command.RcmdVO" alias="rcmd"/>
		<typeAlias type="com.music.mrs.command.WeatherVO" alias="weather"/>
	</typeAliases>
	
</configuration>